<!DOCTYPE html>
<html lang="en" data-theme="winter">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentEase</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">
    <link href="/static/full.min.css" rel="stylesheet" type="text/css" />
    <script src="/static/3.4.1.1.js"></script>
</head>
{% include "navbar1.html" %}
<body>

    <div class="container mx-auto mt-8 shadow-[0_2.8px_2.2px_rgba(0,_0,_0,_0.034),_0_6.7px_5.3px_rgba(0,_0,_0,_0.048),_0_12.5px_10px_rgba(0,_0,_0,_0.06),_0_22.3px_17.9px_rgba(0,_0,_0,_0.072),_0_41.8px_33.4px_rgba(0,_0,_0,_0.086),_0_100px_80px_rgba(0,_0,_0,_0.12)]">
        <div class="py-8 px-4 bg-white shadow-lg rounded-lg">
            <h1 class="text-3xl font-bold mb-4">About RentEase</h1>
            <div class="container mx-auto mt-8 flex justify-center items-center">
                <img src="https://images.pexels.com/photos/731082/pexels-photo-731082.jpeg" alt="RentEase Image" class="max-w-full mb-8 rounded-lg shadow-lg">
            </div>
            <p class="text-lg mb-4">RentEase is a property management platform designed to simplify the rental property
                management process for landlords and property managers. Founded with a passion for real estate and a
                commitment to innovation, RentEase offers a comprehensive suite of tools and features to streamline
                property management tasks and maximize efficiency.</p>
            <p class="text-lg mb-4">Our mission is to empower landlords and property managers with the resources they need
                to succeed in today's competitive real estate market. Whether you own a single rental property or
                manage a diverse portfolio, RentEase is here to support you every step of the way.</p>
            <p class="text-lg mb-4">Join thousands of satisfied landlords and property managers who trust RentEase to
                simplify their property management journey.</p>
        </div>
    </div>
    
</body>
</html>